html,
body {
  height: 100%;
}

#shapka {
  text-align  : left;
  /* Выравнивание внутреннего контента по левому краю */
  width       : 750px;
  /* Ширина блока и общая ширина*/
  background  : #FFE4E1;
  /* Цвет фона */
  height      : 50px;
  /* Высота блока */
  margin-right: auto;
  /* Авто-отступ справа */
  margin-left : auto;
  /* Авто-отступ слева */
  padding     : 10px;
  /* Внутренние поля вокруг содержимого */
}

address {
  float: right;
}

.cinema__line {
  background-color: #263238;
  top             : 600px;
  width           : 100;
  display         : inline-block;
  height          : 35px;
  vertical-align  : middle;

}

.transition {
  text-align : center;
  font-family: verdana;
  font-size  : 50px;
  color      : #fff;
  text-shadow: 5px 5px 5px #333;
}



.header img {
  float     : left;
  width     : 500px;
  height    : 200px;
  background: #555;
}

.header h1 {
  position: relative;
  top     : 18px;
  left    : 10px;
}

body {
  font-family     : Arial, Verdana, sans-serif;
  /* Семейство шрифтов */
  font-size       : 11pt;
  /* Размер основного шрифта в пунктах  */
  background-color: #FFE4E1;
  /* Цвет фона веб-страницы */
  color           : #333;
  /* Цвет основного текста */
}